body {
	background-color: white;
}

h1 {
	display:block;
	text-align:center;
}

h2 {
	display:block;
	text-align:left;
}

hr {
	color: #FF6600;
	background-color: #FF6600;
	height: 1px;
	border-width: 0px;
}

nav {
	display: block;
	height: 2em;
}

.meta {
	color: #AAA;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
}

div#header {
	padding-top: 20px;
	width: 700px;
	height: 64px;
	margin: 0 auto;
	border-bottom: 1px solid #FF6600;
}

#header ul {
	list-style-type: none;
}

#header li {
	float: right;
}

#header li + li {
	margin-right:20px;
}

#logo {
	float: left;
}

div#content {
	width: 600px;
	margin: 0 auto;
}

.screenshot {
	text-align: center;
}

#content p {
	text-align: justify;
	margin: 1em auto;
	text-indent: 1em;
}

div#footer {
	border-top: 1px solid #FF6600;
	width: 700px;
	margin: 0 auto;
}

