<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type">
		<title>PeerDrive</title>
		<link href="/main.css" rel="stylesheet" type="text/css">
		<link rel="alternate" type="application/atom+xml" href="/atom.xml" title="feed"/>
	</head>
	<body>
		<div id="header">
			<img id="logo" src="/logo.png" alt="PeerDrive logo">
			<ul>
				<li><a href="/start.html">Get started</a></li>
				<li><a href="/blog.html">Blog</a></li>
				<li><a href="/index.html">Home</a></li>
			</ul>
		</div>

		<div id="content">
		{{ content }}
		</div>

		<div id="footer">
			<a href="/atom.xml">RSS</a>
		</div>
	</body>
</html>
